aiofiles==23.2.1
annotated-types==0.5.0
fastapi==0.101.1
pydantic==2.2.1
pydantic-settings==2.0.3
pydantic_core==2.6.1
python-dotenv==1.0.0
python-multipart==0.0.6
typing_extensions==4.7.1
uvicorn==0.23.2
pypdf~=3.15.2
tenacity~=8.2.3
langchain~=0.0.271
openai~=0.27.9
psycopg2-binary~=2.9.7
pgvector~=0.2.1
tiktoken~=0.4.0
asyncpg~=0.28.0
SQLAlchemy~=2.0.20
httpx~=0.24.1